@model HairSalon.Models.Stylist

<h4>Add a new stlyist</h4>
@using (Html.BeginForm())
{
    <div class="data-form">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Specialty)
        @Html.TextBoxFor(model => model.Specialty)
        <input class="button" type="submit" value="Add stylist" />
    </div>
}
</div>
@* @using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
{
<input class="button" type="submit" value="Show all stylists">
} *@
</div>