@model HairSalon.Models.Stylist

<h2>Are you sure you want to remove @Model.Name?</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Yes, remove this stylist" />
}

@using (Html.BeginForm("Details", "Stylists", FormMethod.Get))
{
    @Html.Hidden("id", Model.StylistId)
    <input type="submit" value="Nevermind" />
}