<h1>Welcome to Eau Claire's Salon</h1>

@using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
{
    <input class="button" type="submit" value="View stylists">
}

@using (Html.BeginForm("Index", "Clients", FormMethod.Get))
{
    <input class="button" type="submit" value="View clients">
}

@using (Html.BeginForm("Index", "Appointments", FormMethod.Get))
{
    <input class="button" type="submit" value="View appointments">
}
